
<div class="question row">
  <div class="col-md-2">
    <div class="vote-sidebar text-center">
      <div class="vote-div">
        <span class="vote upvote" {{action "upvote"}}></span>
      </div>
      <div class="vote-div">
        {{model.votes}}
      </div>
      <div class="vote-div">
        <span class="vote downvote" {{action "downvote"}}></span>
      </div>
    </div>
  </div>

  <div class="question-content col-md-8">
    <h2 class="page-header">
      {{model.title}}

    </h2>
    <div class="question-text">
      {{model.text}}
    </div>

    <span class="edit" {{action "edit"}}>Edit</span>
    <span class="delete text-danger" {{action "delete"}}>Delete</span>
  </div>

  <div class="col-md-2">
    <div class="question-author-info">
      asked by {{model.author}}
    </div>
  </div>
</div>
