<div class="question">
  <div class="row">
    <div class="col-md-2">
      <div class="vote-sidebar text-center">
        <div class="vote-div">
          <span class="vote upvote" {{action "upvote"}}></span>
        </div>
        <div class="vote-div">
          {{model.votes}}
        </div>
        <div class="vote-div">
          <span class="vote downvote" {{action "downvote"}}></span>
        </div>
      </div>
    </div>

    <div class="question-content col-md-7">
      <h2 class="page-header">
        {{#if isEditing}}
          {{input type="text" class="form-control" value=model.title}}
        {{else}}
          {{model.title}}
        {{/if}}
      </h2>
      <div class="question-text">
        {{#if isEditing}}
          {{textarea rows="10" class="form-control" value=model.text}}
        {{else}}
          {{model.text}}
        {{/if}}
      </div>

      {{#if isEditing}}
        <span class="save" {{action "save"}}>Save Changes</span>
      {{else}}
        <span class="edit" {{action "edit"}}>Edit</span>
      {{/if}}
      <span class="delete text-danger" {{action "delete"}}>Delete</span>
    </div>

    <div class="col-md-3">
      <div class="question-author-info">
        <div>
          asked by {{model.author}}
        </div>
        <div>
          {{post-date-format model.timestamp}}
        </div>
      </div>

      <div class="helpful-links list-group">
        <h5>Stack Overflow links</h5>
        <ul class="list-unstyled">
          {{#each helpfulLink in helpfulLinks}}
            <li class="list-group-item"><a href={{helpfulLink.link}}>{{helpfulLink.name}}</a></li>
          {{/each}}
        </ul>
      </div>

      <span class="answer">{{#link-to "new-answer" model}}Add an Answer{{/link-to}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{outlet}}
    </div>
  </div>
</div>
<hr>
<h4>{{answerStatus}}</h4>
<hr>
<div class="answers">
  <div class="col-md-10 col-md-offset-1">
    <ul class="list-unstyled">
      {{#each answer in model.answers}}
        <li>{{answer-info answer=answer}}</li>
      {{/each}}
    </ul>
  </div>
</div>
